In [2]:
import pandas as pd
import numpy as np 
from datetime import datetime

crimes_1_4 = pd.read_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\Chicago_Crimes_2001_to_2004.csv', on_bad_lines='skip')
crimes_5_7 = pd.read_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\Chicago_Crimes_2005_to_2007.csv', on_bad_lines='skip')
crimes_8_11 = pd.read_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\Chicago_Crimes_2008_to_2011.csv', on_bad_lines='skip')
crimes_12_17 = pd.read_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\Chicago_Crimes_2012_to_2017.csv', on_bad_lines='skip')

C:\Users\alexa\AppData\Local\Temp\ipykernel_15128\2013010742.py:5: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  crimes_1_4 = pd.read_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\Chicago_Crimes_2001_to_2004.csv', on_bad_lines='skip')

In [3]:
crimes_1_4.head(10)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1876757.0,2003.0,04/15/2016 08:55:02 AM,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1831051.0,2003.0,04/15/2016 08:55:02 AM,41.691785,-87.635116,"(41.691784636, -87.635115968)"
5,3633,4838048,HM440266,08/01/2004 12:01:00 AM,012XX S HARDING AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,APARTMENT,False,...,24.0,29.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
6,3756,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,...,9.0,50.0,02,1182247.0,1829375.0,2001.0,08/29/2006 03:46:28 AM,41.68702,-87.608445,"(41.687020002, -87.60844523)"
7,4502,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,...,21.0,73.0,26,1169911.0,1844832.0,2003.0,04/15/2016 08:55:02 AM,41.729712,-87.653159,"(41.729712374, -87.653158513)"
8,4564,4792195,HM405396,09/16/2004 10:00:00 AM,003XX W HUBBARD ST,0890,THEFT,FROM BUILDING,RESIDENCE,False,...,42.0,8.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
9,4904,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,24.0,29.0,06,1154521.0,1895755.0,2003.0,04/15/2016 08:55:02 AM,41.869772,-87.708180,"(41.869772159, -87.708180162)"

In [4]:
pd.set_option('display.max_columns', None)

dropping nulls

In [5]:
crimes_1_4.isna().sum()

Unnamed: 0                   0
ID                           0
Case Number                  0
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description        16
Arrest                       0
Domestic                     0
Beat                         0
District                     2
Ward                    700132
Community Area          700247
FBI Code                     0
X Coordinate             30691
Y Coordinate             30691
Year                         0
Updated On                   0
Latitude                 30691
Longitude                30692
Location                 30692
dtype: int64

In [6]:
crimes_1_4.shape[0]

1923515

In [7]:
crimes_1_4 = crimes_1_4.dropna() 
crimes_5_7 = crimes_5_7.dropna()
crimes_8_11 = crimes_8_11.dropna()
crimes_12_17 = crimes_12_17.dropna()

In [8]:
dfs = [crimes_1_4, crimes_5_7, crimes_8_11, crimes_12_17]
for df in dfs:
    print(df.shape)

(1205641, 23)
(1862832, 23)
(2658375, 23)
(1418365, 23)

In [9]:
crimes_1_4['Year'] = crimes_1_4['Year'].astype('int64')
crimes_5_7['Year'] = crimes_5_7['Year'].astype('int64')
crimes_8_11['Year'] = crimes_8_11['Year'].astype('int64')
crimes_12_17['Year'] = crimes_12_17['Year'].astype('int64')

In [10]:
crimes = pd.concat(dfs)

In [11]:
crimes.shape

(7145213, 23)

In [12]:
crimes[['District', 'Ward', 'Community Area']] = crimes[['District', 'Ward', 'Community Area']].astype(int)

In [13]:
crimes

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9,11,61,26,1173974.0,1876757.0,2003,04/15/2016 08:55:02 AM,41.817229,-87.637328,"(41.817229156, -87.637328162)"
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22,34,49,06,1174948.0,1831051.0,2003,04/15/2016 08:55:02 AM,41.691785,-87.635116,"(41.691784636, -87.635115968)"
6,3756,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,531,5,9,50,02,1182247.0,1829375.0,2001,08/29/2006 03:46:28 AM,41.68702,-87.608445,"(41.687020002, -87.60844523)"
7,4502,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,2222,22,21,73,26,1169911.0,1844832.0,2003,04/15/2016 08:55:02 AM,41.729712,-87.653159,"(41.729712374, -87.653158513)"
9,4904,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,1134,11,24,29,06,1154521.0,1895755.0,2003,04/15/2016 08:55:02 AM,41.869772,-87.708180,"(41.869772159, -87.708180162)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,1034,10,28,30,08B,1159105.0,1888300.0,2016,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,True,731,7,17,69,14,1175230.0,1856183.0,2016,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,825,8,15,66,04B,1161027.0,1862810.0,2016,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,423,4,7,46,08B,1197261.0,1850727.0,2016,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,False,323,3,6,69,26,1178696.0,1855324.0,2016,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

Dropping unimportant columns

In [14]:
crimes = crimes.drop(['Unnamed: 0', 'Ward', 'Community Area', 'X Coordinate', 'Y Coordinate', 'Latitude', 'Longitude'], axis=1)

In [15]:
crimes.drop_duplicates(subset=['ID', 'Case Number'], inplace=False)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,Location
1,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9,26,2003,04/15/2016 08:55:02 AM,"(41.817229156, -87.637328162)"
4,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22,06,2003,04/15/2016 08:55:02 AM,"(41.691784636, -87.635115968)"
6,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,531,5,02,2001,08/29/2006 03:46:28 AM,"(41.687020002, -87.60844523)"
7,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,2222,22,26,2003,04/15/2016 08:55:02 AM,"(41.729712374, -87.653158513)"
9,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,1134,11,06,2003,04/15/2016 08:55:02 AM,"(41.869772159, -87.708180162)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,1034,10,08B,2016,05/10/2016 03:56:50 PM,"(41.849222028, -87.69155551)"
1456710,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,True,731,7,14,2016,05/10/2016 03:56:50 PM,"(41.760743949, -87.63333531)"
1456711,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,825,8,04B,2016,05/10/2016 03:56:50 PM,"(41.779234743, -87.685207125)"
1456712,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,423,4,08B,2016,05/10/2016 03:56:50 PM,"(41.745251975, -87.552773464)"
1456713,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,False,323,3,26,2016,05/10/2016 03:56:50 PM,"(41.75830866, -87.620658418)"

In [16]:
 crimes.dtypes

ID                       int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                    bool
Domestic                  bool
Beat                     int64
District                 int32
FBI Code                object
Year                     int64
Updated On              object
Location                object
dtype: object

In [19]:
crimes["District"] = crimes["District"].astype(str)

Naming districts

In [20]:
crimes["District"] = crimes["District"].replace({'1':'1st District-Central', 
                                                 '2':'2nd District-Wentworth',
                                                 '3': '3rd District-Grand Crossing',
                                                 '4': '4th District-South Chicago',
                                                 '5': '5th District-Calumet',
                                                 '6': '6th District-Gresham',
                                                 '7': '7th District-Englewood',
                                                 '8': '8th District-Chicago Lawn',
                                                 '9': '9th District-Deering',
                                                 '10': '10th District-Ogden',
                                                 '11': '11th District-Harrison',
                                                 '12': '12th District-Near West',
                                                 '14': '14th District-Shakespeare',
                                                 '15': '15th District-Austin',
                                                 '16': '16th District-Jefferson Park',
                                                 '17': '17th District-Albany Park',
                                                 '18': '18th District-Near North',
                                                 '19': '19th District-Town Hall',
                                                 '20': '20th District-Lincoln',
                                                 '22': '22nd District-Morgan Park',
                                                 '24': '24th District-Rogers Park',
                                                 '25': '25th District-Grand Central'})

In [22]:
crimes.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,Location
1,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9th District-Deering,26,2003,04/15/2016 08:55:02 AM,"(41.817229156, -87.637328162)"
4,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22nd District-Morgan Park,06,2003,04/15/2016 08:55:02 AM,"(41.691784636, -87.635115968)"
6,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,531,5th District-Calumet,02,2001,08/29/2006 03:46:28 AM,"(41.687020002, -87.60844523)"
7,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,2222,22nd District-Morgan Park,26,2003,04/15/2016 08:55:02 AM,"(41.729712374, -87.653158513)"
9,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,1134,11th District-Harrison,06,2003,04/15/2016 08:55:02 AM,"(41.869772159, -87.708180162)"

Creating month column

In [27]:
crimes = crimes.drop('Month', axis=1)
crimes['Month'] = pd.DatetimeIndex(crimes['Date']).month

In [28]:
crimes.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,Location,Month
1,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9th District-Deering,26,2003,04/15/2016 08:55:02 AM,"(41.817229156, -87.637328162)",3
4,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22nd District-Morgan Park,06,2003,04/15/2016 08:55:02 AM,"(41.691784636, -87.635115968)",5
6,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,531,5th District-Calumet,02,2001,08/29/2006 03:46:28 AM,"(41.687020002, -87.60844523)",1
7,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,2222,22nd District-Morgan Park,26,2003,04/15/2016 08:55:02 AM,"(41.729712374, -87.653158513)",3
9,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,1134,11th District-Harrison,06,2003,04/15/2016 08:55:02 AM,"(41.869772159, -87.708180162)",1

In [31]:
crimes["Month"] = crimes["Month"].astype(str)
crimes["Month"] = crimes["Month"].replace({'1':'January',
                                                 '2':'February',
                                                 '3':'March',
                                                 '4':'April',
                                                 '5':'May',
                                                 '6':'June',
                                                 '7':'July',
                                                 '8':'August',
                                                 '9':'September',
                                                 '10':'October',
                                                 '11':'November',
                                                 '12':'December'})

In [32]:
crimes.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,Location,Month
1,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,935,9th District-Deering,26,2003,04/15/2016 08:55:02 AM,"(41.817229156, -87.637328162)",March
4,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,False,2233,22nd District-Morgan Park,06,2003,04/15/2016 08:55:02 AM,"(41.691784636, -87.635115968)",May
6,4791194,HM403711,01/01/2001 11:00:00 AM,114XX S ST LAWRENCE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,True,True,531,5th District-Calumet,02,2001,08/29/2006 03:46:28 AM,"(41.687020002, -87.60844523)",January
7,4679521,HM216293,03/15/2003 12:00:00 AM,090XX S RACINE AVE,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,RESIDENCE PORCH/HALLWAY,False,False,2222,22nd District-Morgan Park,26,2003,04/15/2016 08:55:02 AM,"(41.729712374, -87.653158513)",March
9,4680124,HM282389,01/01/2003 12:00:00 AM,009XX S SPAULDING AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,1134,11th District-Harrison,06,2003,04/15/2016 08:55:02 AM,"(41.869772159, -87.708180162)",January

exporting data frame

In [33]:
crimes.to_csv(r'C:\Users\alexa\OneDrive\Desktop\Chicago_crime\crimes.csv', index=False)